doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title KnowledgeBase
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        link(rel="stylesheet" href="/css/style.css")
        script(src="http://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    body
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='/') KnowledgeBase
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                if user
                    a.nav-item.nav-link.active(href='/')
                        | #{user.username} 
                        span.sr-only (current)
                else
                    a.nav-item.nav-link.active(href='/')
                        | Home 
                        span.sr-only (current)
                if user
                    a.nav-item.nav-link(href='/article/add') Add Article
                if !user
                    a.nav-item.nav-link(href='/users/login') Login
                    a.nav-item.nav-link(href='/users/register') Create Account
                else
                    a.nav-item.nav-link(href='/users/logout') Logout
        .container.content
            != messages('message', locals)
            block content
            footer
                script(src="/javascript/main.js")